* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: black;
    justify-items: center;
    align-items: center;
    padding: 18px;
}

header #logo {
    width: 60px;
    border-radius: 8px;
}

header h1 {
    font-size: 36px;
    color: white;
    text-shadow: gray 0.1em 0.1em 0.2em;
}

header a {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

header a span {
    padding: 6px;
    border: 2px solid white;
    border-radius: 8px;
}

/* SOBRE A ADA */

#sobre {
    padding: 30px 20px;
}

#sobre h2 {
    font-size: 36px;
    padding: 20px 0px;
}

#sobre span {
    font-size: 26px;
}

/* TABELA DE CONTEUDO */

#div_form {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #dce2e6;
}

#div_form div {
    background-color: #fff;
    border-radius: 22px;
}

#div_form table {
    padding: 40px 0px;
}

#div_form table td {
    font-size: 22px;
    padding: 10px 16px;
}

#formulario {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#formulario input {
    height: 40px;
    margin-bottom: 18px;
}

#formulario textarea {
    margin-bottom: 18px;
}

/* BANNER FINAL */

#banner {
    background-image: url("apsImagem/cidade.jpg");
    background-size: 100%;
    background-color: transparent(50%);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px;
}

/* RODAPÉ */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
    background: black;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    margin: 8px 0px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    margin: 8px 0px;
    text-decoration: none;
    color: rgb(218, 209, 209);
}

.fa {
    font-size: 280px;
    text-align: center;
    text-decoration: none;
    padding: 6px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 2px;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 2px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 2px;
}