* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    display: flex;
    background: black;
    justify-content: center;
    padding: 2px;
}

header #logo {
    width: 60px;
    border-radius: 8px;
}

/* DIV DO FORMULÁRIO */

#formEnvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(236, 236, 250);
    padding: 18px;
    border-bottom: 2px solid gray;
}

#formEnvio h1 {
    padding: 2px;
    margin-bottom: 8px;
    color: rgb(107, 99, 99);
    font-weight: 100;
    letter-spacing: 2px;
}

/* FORMULÁRIO */

#formEnvio form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 18px;
}

#organiza {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

form .divArea, .divPreco, .divDormitorio {
    display: grid;
    flex-direction: column;
    margin: 2px;
}

form label {
    font-size: 16px;
    color: rgb(80, 68, 68);
}

form .inputNome, .inputLocalizacao, .inputImovelId {
    width: 500px;
    height: 40px;
    margin-bottom: 16px;
    outline: none;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 8px;
    font-size: 16px;
    color: gray;
    background: white;
    padding-left: 8px;
}

.inputImovelId{
    border: none;
}

.inputImovelId:hover {
    border: none;
    outline: none;
    cursor: none;
}


form .inputPreco, .inputArea, .inputDormitorio {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 8px;
    font-size: 16px;
    color: gray;
    background: white;
    padding-left: 8px;
}

select:hover, input:hover {
    border: 1px solid rgb(105, 100, 100);
}

form input::placeholder, select::placeholder {
    color: rgb(206, 198, 198);
    font-size: 14px;
}

/* DIV BOTÃO */
#divBtn {
    display: flex;
    flex-direction: row;
}

/* BOTÃO DE MOSTRAR/OCULTAR */

#btnEsconder{
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 18px;
    font-size: 16px;
    background: rgb(201, 201, 223);
}

#btnEsconder:hover {
    transition: 0.5;
    background: rgb(173, 173, 189);
    color: white;
    border: none;
    cursor: pointer;
}


/* BOTÃO DE ENVIAR */

.submitForm {
    margin: 12px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    background: rgb(201, 201, 223);
    margin-top: 26px;
    border: none;
    border-radius: 12px;
}

.submitForm:hover {
    transition: 0.5;
    background: rgb(173, 173, 189);
    color: white;
    border: none;
    cursor: pointer;
}

/* BOTÃO DE VOLTAR */

.voltarBtn {
    display: flex;
    margin: 12px;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: rgb(201, 201, 223);
    margin-top: 26px;
    border: none;
    border-radius: 12px;
    color: black;
}

.voltarBtn:hover {
    transition: 0.5;
    background: rgb(173, 173, 189);
    color: white;
    border: none;
}

/* LISTA DOS IMÓVEIS CADASTRADOS */


#divListaDeImoveis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

#tableListaDeImoveis{
    width: 90%;
}

table tr {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

table .top {
    text-align: left;
    background: rgb(221, 216, 216);
}

td, th {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 2px solid gainsboro;
}

#botoes a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

#botoes a span {
    background-color: rgb(224, 223, 223);
    padding: 2px;
    border-radius: 6px;
}

#botoes a:hover {
    text-decoration: none;
    color: gray;
}


#btnDeletar:hover {
    background: rgb(253, 226, 226);
}


.voltarBtn {
    text-decoration: none;
}