* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#formEnvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(236, 236, 250);
    padding: 18px;
    border-bottom: 2px solid gray;
}

#formEnvio h1 {
    padding: 16px;
}

#formEnvio form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}


label {
    color: rgb(85, 76, 76);
}

.inputForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 16px;
    font-size: 20px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 6px;
    outline:none;
}

.inputForm:hover {
    border: 1px solid rgb(105, 100, 100);
}

.inputForm::placeholder {
    color: rgb(192, 186, 186);
    font-size: 14px;
}

.submitForm {
    margin: 12px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    background: rgb(201, 201, 223);
    border: none;
    border-radius: 8px;
}

.submitForm:hover {
    transition: 0.5;
    background: rgb(173, 173, 189);
    color: white;
}