<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Imóveis</title>
    <link rel="stylesheet" href="formularioStyle.css">

</head>

<body>

    <header>
        <div>
            <a href="/">
                <img id="logo" src="apsImagem/logo.png" alt="">
            </a>
        </div>
    </header>

    <div id="formEnvio">
        <h1>Cadastro de Imóveis</h1>

        <button id="btnEsconder" onclick="esconder()">Adicionar Imóvel</button>

        <form action="formulario/adicionar" method="POST" id="formularioAdd">
            <div>
                <div class="divNome">
                    <label for="nomeImovel">Imóvel</label>
                    <input type="text" value="" name="nomeImovel" class="inputNome" placeholder="Nome do imóvel...">
                </div>
                <div class="divNome">
                    <label for="nomeImovel">Imagem</label>
                    <input type="file" value="" name="imagem" class="inputNome">
                </div>
                <div class="divLocalicazao">
                    <label for="local">Localização</label>
                    <select name="cidade" id="regiao" class="inputLocalizacao">
                        <option value="" disabled selected hidden></option>
                        <option name="cidade" value="SP">São Paulo</option>
                        <option name="cidade" value="RJ">Rio de Janeiro</option>
                        <option name="cidade" value="RS">Rio Grande do Sul</option>
                    </select>
                </div>
            </div>

            <div id="organiza">
                <div class="divArea">
                    <label for="area">Área (m²)</label>
                    <input type="number" value="" name="area" class="inputArea" placeholder="80" min="20" max="200">
                </div>
                <div class="divPreco">
                    <label for="preco">Preço</label>
                    <input type="number" value="" name="preco" class="inputPreco" placeholder="300.000,00" min="0"
                        max="1000000">
                </div>
                <div class="divDormitorio">
                    <label for="dormitorio">Dormitórios</label>
                    <input type="number" value="" id="cadastrar" name="dormitorio" class="inputDormitorio"
                        placeholder="2" min="1" max="3" onclick="fun()">
                </div>
            </div>

            <input type="submit" value="Enviar" class="submitForm" id="submit">
        </form>

    </div>



    <h1>Lista de imóveis</h1>
    <a href="/editar">Edit</a>

    <div th:case="*" id="divListaDeImoveis" th:switch="${#lists.size(imoveis)}">

        <table id="tableListaDeImoveis" cellspacing="0">
            <thead>
                <tr class="top">
                    <th>Nome</th>
                    <th>Localização</th>
                    <th>Área</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="imovel : ${imoveis}">
                    <td th:text="${imovel.nomeImovel}"></td>
                    <td th:text="${imovel.cidade}"></td>
                    <td th:text="${imovel.area}"></td>
                    <td th:text="${imovel.preco}"></td>
                    <td>
                        <a th:href="@{/formulario/delete/{id}(id=${imovel.id})}" id="btnDeletar">X</a>
                        <a th:href="@{/formulario/editar/{id}(id=${imovel.id})}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function redireciona() {
            var valor_busca = document.getElementById("valor_busca").value;
            location.href = "site.com/busca/" + valor_busca;

        }

        function fun(evt) {
            document.getElementsByName('nomeImovel').value = '';
            document.getElementsByName('cidade').value = '';
            document.getElementsByName('preco').value = '';
            document.getElementsByName('area').value = '';
            document.getElementsByName('dormitorio').value = '';
        }

        function esconder() {
            var display = document.getElementById('formularioAdd').style.display;
            if (display == "none")
                document.getElementById('formularioAdd').style.display = 'flex';
            else
                document.getElementById('formularioAdd').style.display = 'none';
        }

    </script>

</body>

</html>