<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formStyle.css">

</head>

<body>

    <div id="formEnvio">
        <h1>Cadastro de Imóveis</h1>

        <form action="" method="post">
            <div class="formatacao">
                <label for="name">Imóvel</label>
                <input type="text" value="" name="nome" class="inputForm" placeholder="Nome do imóvel...">
            </div>
            <div>
                <label for="local">Localização</label>
                <input type="text" value="" name="local" class="inputForm" placeholder="Localização...">
            </div>
            <div>
                <label for="area">Área (m²)</label>
                <input type="text" value="" name="area" class="inputForm" placeholder="Área em m²...">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" value="" name="preco" class="inputForm" placeholder="Preço...">
            </div>
            <input type="submit" value="Enviar" class="submitForm">
        </form>
    </div>

    <div>

    </div>

</body>

</html>