<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="indexStyle.css">
</head>
<body>
    

    <header>
        <img id="logo" src="apsImagem/logo.png" alt="">
        <a href="">INÍCIO</a>
        <a href="">SOBRE NÓS</a>
        <a href="">CONTATO</a>
        <a href="formulario">Cadastro</a>
    </header>

    <h1>CONHEÇA OS NOSSOS MELHORES EMPREENDIMENTOS</h1>

    <div class="content">
        
        <div id="box-obras" class="obraUm">
            <div class="imagem"><img src="apsImagem/apt1.jpg" alt=""></div>
            <ul>
                <li>Nome da construção</li>
                <li>60 m²</li>
                <li>Bairro Algo</li>
                <li>R$ 400.000,00</li>
            </ul>
        </div>
        <div id="box-obras" class="obraUm">
            <div class="imagem"><img src="apsImagem/apt1.jpg" alt=""></div>
            <ul>
                <li>Nome da construção</li>
                <li>60 m²</li>
                <li>Bairro Algo</li>
                <li>R$ 400.000,00</li>
            </ul>
        </div>
        <div id="box-obras" class="obraUm">
            <div class="imagem"><img src="apsImagem/apt1.jpg" alt=""></div>
            <ul>
                <li>Nome da construção</li>
                <li>60 m²</li>
                <li>Bairro Algo</li>
                <li>R$ 400.000,00</li>
            </ul>
        </div>
        <div id="box-obras" class="obraUm">
            <div class="imagem"><img src="apsImagem/apt1.jpg" alt=""></div>
            <ul>
                <li>Nome da construção</li>
                <li>60 m²</li>
                <li>Bairro Algo</li>
                <li>R$ 400.000,00</li>
            </ul>
        </div>

    </div>

    <footer>
        <a href="">TRABALHE CONOSCO</a>
        <a href="">IMPRENSA</a>
        <a href="">BLOG</a>
        <a href="">ACESSIBILIDADE</a>
    </footer>

</body>
</html>